{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container article_del">
    <div class="row">
        <div class="col-md-6 offset-3 mt-5 pt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-10 col-sm-10 offset-1">
                        <h2 class='mt-4 text-success'>Parolni almashtirish</h2><hr>
                        <h4 class="text-primary">Avval eski parolni kiriting va Yangi parolni 2 marta kiriting!</h4>
                        <form class="form row" method="post">{% csrf_token %}
                            {{form|crispy}}
                            <button class="btn btn-outline-success">change password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}