{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="alert alert-primary mt-5" role="alert">
                <h3>Emailingizga habar yuborildi</h3>
                <p>Agar habarni olmagan bo'lsangiz emailingiz to'g'riligini tekshiring!</p>
                 <a href="https://www.google.com/intl/ru/gmail/about/" class="alert-link" target="_blank">Emailga o'tish</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}